{% extends 'base.html' %}

{% block content %}
{{ super() }}
	<div class="content">
		<div class="welcome-conteiner">
		<div class="welcome">
			<div class="icon-welcome">
				<a href="https://www.instagram.com/"><img src="static/img/instagram.svg" alt="instagram"></a>
				<a href="https://www.facebook.com/"><img src="static/img/facebook.svg" alt="facebook"></a>
			</div>
			<div class="welcome-text">	
				<h2>Welcome to Personal Trainer!</h2>
				<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.</p>
				<p>This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company.</p>
				<p>Tip: Use this area to describe one of your services. You can change the title to the service you provide and use this text area to describe your service. Feel free to change the image.</p>
			</div>
		</div>
		</div>
		<div class="short-description">

				<div class="description-items"><h3>Training Tips</h3><img width=320px height=200px src="static/img/tip.jpg"></div>
				<div class="description-items"><h3>Corporate Training</h3><img width=320px height=200px src="static/img/corp.jpg"></div>
				<div class="description-items"><h3>One on One</h3><img width=320px height=200px src="static/img/one.png"></div>
		</div>
		<div class="short">
			<div class="short-item1">
				<h3>About Us</h3>
				<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p>
			</div>
			<div class="short-item2">
				<h3>Contact Us</h3>
				<p>Lesser Poland Voivodeship, Cracow<br>
				info@mysite.com <br>
				Tel: 123-456-7890<br>
				Fax: 123-456-7890</p>
			</div>
		</div>
	</div>
{% endblock %}
